@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    70% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.cdx-notifies__notification--bounce-in {
    animation-name: bounceIn;
    animation-duration: 600ms;
    animation-iteration-count: 1;
}
