.cdx-notify {

    &--success {
        background: #fafffe !important;

        &::before {
            background: #41ffb1 !important;
        }

    }

    &--error {
        background: #fffbfb !important;

        &::before {
            background: #fb5d5d !important;
        }

    }

}
