.cdx-notifies__notification {

    &--notify::before {
        background: transparent;
    }

    &--success {
        background: #fafffe;

        &::before {
            background: #41ffb1;
        }

    }

    &--error {
        background: #fffbfb;

        &::before {
            background: #fb5d5d;
        }

    }

}